body{
background-color: #C4C4C4;
font-family: source sans pro,calibri light;
overflow-y: scroll; 
font-size: 16px; 

}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
table.db-table 		{ border-right:1px solid rgb(0, 0, 0); border-bottom:1px solid rgb(0, 0, 0); }
table.db-table th	{ background:rgb(118, 134, 212); padding:5px; border-left:1px solid rgb(0, 0, 0); border-top:1px solid rgb(12, 12, 12);}
table.db-table td	{ background:rgb(177, 185, 221); padding:5px; border-left:1px solid rgb(0, 0, 0); border-top:1px solid rgb(12, 12, 12); }


/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}